/ {
    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <&kp K_NUMLOCK>, <&kp KP_SLASH>, <&kp KP_ASTERISK>, <&kp KP_MINUS>,
                       <&kp KP_7>, <&kp KP_8>, <&kp KP_9>, <&kp KP_0>,
                       <&kp KP_4>, <&kp KP_5>, <&kp KP_6>, <&none>,
                       <&kp KP_1>, <&kp KP_2>, <&kp KP_3>, <&kp KP_ENTER>,
                       <&kp KP_PLUS>, <&kp KP_DOT>, <&kp KP_DELETE>, <&none>;
        };
    };
};
